/* ========== Base Styles ========== */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    padding: 20px;
}


.header-container {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px;
}

.header-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-card h1 {
    display: inline-block;
    width: 80%;
    color: #333;
    margin-left: 10px;
}

.header-btns {
    float: right;
    margin: 8px 4px 0px 4px;
}

.header-card i {
    font-size: 1.4rem;
    transition: color 0.2s;
    margin: 0px px 0px 3px;
}

/* ========== Settings container and Card ========== */
.settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.settings-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 280px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 580px;
}

.settings-card h4 {
    text-align: left;
    margin: 8px 0px 4px 0px;
}

.settings-data {
    width: 100%;
    margin: 1px 0;
    padding: 4px;
    overflow: visible;
    overflow-y: auto;
    max-height: 490px;
}

.settings-entry {
    margin: 4px 0px 4px 0px;
    display: flex;
}

.settings-entry input{
    width: 40%;
}

.settings-entry label{
    width: 60%;
}

.settings-entry input,
.settings-entry label {
    margin: 1px 0;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 6px;
}

/* ========== About Card ========== */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.about-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 280px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 580px;
}

.about-card h4 {
    text-align: left;
    margin: 8px 0px 4px 0px;
}

.about-info {
    display: flex;
    margin: 1px 0;
    padding: 4px;
    width: 100%;
    overflow: visible;
    overflow-y: auto;
    max-height: 480px;
}

.about-content {
    font-size: 0.6em;
}

/* ========== Log File Container and Cards ========== */

.log-file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.log-file-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 580px;
}

.log-file-card h4 {
    text-align: left;
    margin: 8px 0px 4px 0px;
}

.log-file-entries {
    margin: 1px 0;
    padding: 4px;
    width: 100%;
    overflow: visible;
    overflow-y: auto;
    max-height: 480px;
}

.log-file-entry {
    font-size: 0.6em;
}

/* ========== Sensor Container and Cards ========== */
.sensor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sensor-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 280px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 280px;
}

.sensor-card:hover {
    transform: scale(1.03);
}

/* ========== Sensor Header ========== */
.sensor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sensor-header i {
    font-size: 1rem;
    float: right;
    margin: 4px 2px 0px 1px;
}

.sensor-name {
    font-size: 1.2em;
    font-weight: bold;
}

.sensor-type {
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    color: white;
}

/* Sensor Type Colors */
.type-Solar {
    background-color: #ffa500;
}

.type-Wind {
    background-color: #00aaff;
}

.type-Battery {
    background-color: #5c6bc0;
}



/* ========== Logs ========== */

.log-entry{
    margin: 10px;
    background-color: #efeeee
}

.log-entry p {
    padding: 0px 0px 2px 0px;
    font-size: 0.8em;
    text-align: left;
    color: #555;
    margin: 1px 0px 4px 0px;
}

.log-data {
    overflow: visible;    
}

.log-data h4 {
    text-align: left;
    margin: 8px 0px 4px 0px;  
}

.log-entries {
    overflow-y: auto;
    max-height: 180px;
}




/* ========== Sensor Data and Output ========== */
.sensor-data {
    position: relative;
    height: 90%;
}

.sensor-readings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 2px;
    align-items: center;
    margin-top: 20px;
}

.data-tile {
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 90px;
    width: 140px;
    text-align: center;

}

.sensor-data p {
    font-size: 1.5em;
    margin: 10px 0px 2px 0px;
}

.icon {
    text-align: center;
}

.voltage {
    margin: 10px 0px 15px 0px;
}

.current {
    margin: 10px 0px 15px 0px;
}

.power {
    margin: 10px 0px 15px 0px;
}

.output {
    margin: 10px 0px 15px 0px;
}

.soc {
    margin: 10px 0px 15px 0px;
}

meter {
    width: 100%;
    height: 1em;
}

/* ========== Timestamps and No-Sensor Message ========== */
.timestamp {
    font-size: 0.8em;
    color: #666;
    text-align: right;
    margin-top: 10px;
    position:absolute;
    bottom: 8px;
    width:100%;
}

.no-sensors {
    text-align: center;
    color: #555;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

/* ========== Edit Form ========== */
.edit-form {
    margin-top: 10px;
    overflow: visible; 
    position: relative;
    height: 90%;
}

.edit-form h4 {
    margin: 4px 0px 4px 0px;
}

.edit-data {
    overflow-y: auto;
    max-height: 160px;
}

.edit-entry {
    display: flex;
    width: 90%;
    margin: 1px 0;
    padding: 4px;
}

.edit-data input,
.edit-data label,
.edit-dropdown {
    width: 50%;
    margin: 1px 0;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 6px;
}

.edit-dropdown {
    border: 1px solid #333;
}

/* ========== Buttons ========== */
.edit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position:absolute;
    bottom: 12px;
    width:90%;
}

.edit-buttons button,
button.save-btn,
button.back-btn,
button.delete-btn,
.confirm-delete-btn,
.cancel-delete-btn,
.undo-btn,
button.refresh-btn {
    padding: 5px 10px;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Specific Button Colors */
button.save-btn {
    background-color: #4CAF50;
    color: white;
}

button.refresh-btn {
    background-color: #4CAF50;
    color: white;
}

button.back-btn {
    background-color: #ccc;
    color: #555;
}

button.delete-btn {
    background-color: #fa6868;
    color: white;
}

.confirm-delete-btn {
    background-color: #d9534f;
    color: white;
}

.cancel-delete-btn {
    background-color: #5bc0de;
    color: white;
}

.undo-btn {
    background-color: #5cb85c;
    color: white;
    padding: 8px 15px;
}

/* ========== Delete Confirmation and Countdown ========== */
.delete-confirmation {
    text-align: center;
    position: relative;
    height: 90%;
}

.delete-confirmation p {
    margin-bottom: 10px;
    font-weight: bold;
    color: #d9534f;
}

.countdown {
    align-items: center;

    font-size: 1.1em;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 10px;
}

/* ========== Font Awesome Icon Styling ========== */
.fa-gear {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-question {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-gear:hover {
    color: #333;
}

.fa-question:hover {
    color: #333;
}

.fa-book {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-book:hover {
    color: #333;
}

/* ========== Responsive Layout ========== */
@media (max-width: 599px) {
    .container {
        display: block;
    }

    .sensor-card,
    .about-card,
    .settings-card,
    .log-file-card {
        width: 90%;
        max-width: 100%;
        margin: 0 auto 20px;
    }
}

@media (min-width: 600px) {
    .sensor-card,
    .about-card,
    .settings-card {
        width: 45%;
        max-width: 320px;
    }

    .log-file-card {
        width: 90%;
    }
}

@media (min-width: 900px) {
    .sensor-card,
    .about-card,
    .settings-card {
        width: 30%;
        max-width: 340px;
    }

    .log-file-card {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .sensor-card,
    .about-card,
    .settings-card {
        width: 25%;
        max-width: 360px;
    }

    .log-file-card {
        width: 90%;
    }
}

