/* ========== Base Styles ========== */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    padding: 20px;
}


.header-container {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px;
}

.header-card {
    background-color: #b9b8b8;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-card h1 {
    display: inline;
    color: #333;
    margin-left: 10px;
}

.header-btns {
    float: right;
    margin: 8px 4px 0px 4px;
}

.header-card i {
    font-size: 1.6em;
    transition: color 0.2s;
    margin: 0px 3px 0px 3px;
}

.settings-header,
.log-file-header,
.about-header, 
.restart-header {
    border-bottom: #333 1px solid;
    padding-bottom: 5px;
}

.settings-header,
.log-file-header,
.about-header, 
.restart-header i {
    font-size: 1.4em;
    transition: color 0.2s;
    margin: 0px 1px 15px 6px;
}

.gpio-status {
    margin-right: 10px;
}

/* ========== Settings container and Card ========== */
.settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    gap: 20px;
    padding: 5px;
}

.settings-card {
    padding: 15px;
    width: 280px;
    position: relative;
    height: 550px;
}

.settings-card h4 {
    display: inline;
    color: #333;
    margin: 0px 10px 10px 4px;
}

.settings-data {
    width: 100%;
    margin: 1px 0;
    padding: 4px;
    overflow: visible;
    overflow-y: auto;
    max-height: 470px;


}

.settings-entry {
    margin: 4px 0px 4px 0px;
    font-size: 0.6em;
    display: flex;
}

.settings-entry input{
    width: 30%;
    margin-right: 4px;
}

.settings-entry label{
    width: 70%;
}

.settings-entry input,
.settings-entry label {
    margin: 1px 0;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 6px;
}

.settings-btns {
    float: right;
    margin: 0px 4px 0px 4px;
}

/* ========== About Card ========== */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    gap: 20px;
    padding: 5px;
}

.about-card {
    padding: 15px 20px;
    width: 100%;
    position: relative;
    height: 550px;
}

.about-card h4 {
    display: inline;
    color: #333;
    margin: 0px 10px 10px 4px;
}

.about-info {
    margin: 1px 0;
    padding: 4px;
    width: 100%;
    margin: 1px 0;
    padding: 4px;
    width: 100%;
    overflow: visible;
    overflow-y: auto;
    max-height: 480px;
}

.about-content {
    font-size: 0.6em;
    width: 100%;

}

.about-btns {
    float: right;
    margin: 0px 4px 0px 4px;
}

/* ========== Log File Container and Cards ========== */

.log-file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    gap: 20px;
    padding: 5px;
}

.log-file-card {
    
    padding: 15px 20px;
    width: 100%;
    position: relative;
    height: 550px;
}

.log-file-card h4 {
    display: inline;
    color: #333;
    margin: 0px 10px 10px 4px;
}

.log-file-entries {
    margin: 1px 0;
    padding: 4px;
    width: 100%;
    overflow: visible;
    overflow-y: auto;
    max-height: 480px;
}

.log-file-entry {
    font-size: 0.6em;
}

.log-file-btns {
    float: right;
    margin: 0px 4px 0px 4px;
}


/* ========== Restart Container and Cards ========== */

.restart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.restart-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 280px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 280px;
}

.restart-card h4 {
    display: inline;
    color: #333;
    margin: 0px 10px 10px 4px;
}

.restart-btns {
    float: right;
    margin: 0px 4px 0px 4px;
}


/* ========== Sensor Container and Cards ========== */
.sensor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sensor-card {
    background-color: #d2d2d2;
    border-radius: 10px;
    padding: 10px;
    width: 245px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 245px;
    margin-top: 5px;
}

.sensor-card:hover {
    transform: scale(1.03);
}

/* ========== Sensor Header ========== */
.sensor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.sensor-header i {
    font-size: 1.4em;
    float: right;
    margin: 4px 2px 0px 2px;
}

.sensor-name {
    font-size: 1.2em;
    color: #222;
    font-weight: bold;
}

.sensor-type {
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    color: white;
}

.sensor-btns {
    float: right;
    margin: 0px 4px 0px 4px;
}

.back-btn {
    float: left;
    margin: 0px 15px 0px 4px;
}

.sensor-btns,
.back-btn i {
    font-size: 1.1em;
    transition: color 0.2s;
    margin: 0px 1px 0px 6px;
}

.sensor-edit-header,
.sensor-log-header {
    border-bottom: #333 1px solid;
    padding-bottom: 5px;
}

/* Sensor Type Colors */
.type-Solar {
    background-color: #ffa500;
}

.type-Wind {
    background-color: #00aaff;
}

.type-Battery {
    background-color: #5c6bc0;
}


/* ========== Logs ========== */

.log-entry {
    margin-bottom: 4px;
    padding: 2px 2px 2px 2px;
    border-bottom: #333 1px solid;
}

.sensor-log-header h4 {
    display: inline;
    color: #333;
    margin: 0px 10px 10px 4px;
}

.log-entry p {
    font-size: 0.4em;
    text-align: left;
    color: #555;
    margin-bottom: 2px;
    width: 100%;
}

.reading-details {
    margin-left: 8px;
}


.log-data {
    margin-top: 10px;
    overflow: visible; 
    position: relative;
    height: 100%;
    width: 90%;
}

.log-entries {
    overflow-y: auto;
    height: 170px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}




/* ========== Sensor Data and Output ========== */
.sensor-data {
    position: relative;
    height: 90%;
    align-items: center;
}

.sensor-readings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.data-tile {
    aspect-ratio: 1;
    color: #ffffff;
    border-radius: 10px;
    padding-top: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.5s ease;
    height: 70px;
    width: 140px;
    text-align: center;

}
#solar-data-tile {
    background-color: #ffa500;
}

#wind-data-tile {
    background-color: #00aaff;
}

#battery-data-tile {
    background-color: #5c6bc0;
}

.sensor-data p {
    font-size: 1.5em;
    margin: 10px 0px 2px 0px;
}

.icon {
    text-align: center;
    margin: 0px 10px 0px 0px;
}

.voltage {
    margin: 10px 0px 15px 0px;
}

.current {
    margin: 10px 0px 15px 0px;
}

.power {
    margin: 10px 0px 15px 0px;
}

.output {
    margin: 10px 0px 15px 0px;
}

.soc {
    margin: 10px 0px 15px 0px;
}

meter {
    visibility: hidden;
    width: 100%;
    height: 1em;
}

/* ========== Timestamps and No-Sensor Message ========== */
.timestamp {
    display: block;
    width: 100%;
    font-size: 0.8em;
    color: #666;
    text-align: right;
    box-sizing: border-box;
    width:100%;
    overflow-wrap: break-word;
    bottom: 8px;
    margin-top: 15px;
}

.no-sensors {
    text-align: center;
    color: #555;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

/* ========== Edit Form ========== */
.edit-form {
    margin-top: 10px;
    overflow: visible; 
    position: relative;
    height: 100%;
}

.sensor-edit-header h4 {
    display: inline;
    color: #333;
}

.edit-data {
    overflow-y: auto;
    max-height: 160px;
    width: 100%;
    margin-top: 10px;
}

.edit-entry {
    display: flex;
    width: 90%;
    margin: 1px 0;
}

.edit-data input,
.edit-data label,
.edit-dropdown {
    width: 50%;
    margin: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 4px; 
    font-size: 0.6em;
}

.edit-dropdown {
    border: 1px solid #333;
}

/* ========== Buttons ========== */
/* Hide only the button elements, not the icons themselves */
.type-edit-container button,
.edit-form button,
.log-data button,
.delete-confirmation button,
.countdown button {
    display: none !important;
}

/* ========== Delete Confirmation and Countdown ========== */
.delete-confirmation {
    text-align: center;
    position: relative;
    height: 90%;
}

.delete-confirmation p {
    margin-bottom: 10px;
    font-weight: bold;
    color: #d9534f;
}

.countdown {
    align-items: center;

    font-size: 1.1em;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 10px;
}

/* ========== Font Awesome Icon Styling ========== */
.fa-gear {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-question {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-gear:hover {
    color: #333;
}

.fa-question:hover {
    color: #333;
}

.fa-book {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-book:hover {
    color: #333;
}

.fa-rotate {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-rotate:hover {
    color: #333;
}

.fa-save {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-save:hover {
    color: #333;
}

.fa-delete {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-delete:hover {
    color: #333;
}
.fa-arrow-left {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-arrow-left:hover {
    color: #333;
}
.fa-sync-alt {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-sync-alt:hover {
    color: #333;
}

.fa-check {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-check:hover {
    color: #00ff00;;
}

.fa-cloud {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-cloud:hover {
    color: #333;;
}

.fa-microchip {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-microchip:hover {
    color: #333;
}

.fa-trash {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-trash:hover {
    color: #f43434;
}

/* ========== Responsive Layout ========== */
@media (max-width: 599px) {
    .container {
        display: block;
    }

    .sensor-card,
    .about-card,
    .settings-card,
    .log-file-card {
        width: 90%;
        max-width: 100%;
        margin: 0 auto 20px;
    }
}

@media (min-width: 600px) {
    .sensor-card {
        width: 45%;
        max-width: 320px;
    }

    .log-file-card,
    .about-card,
    .settings-card {
        width: 90%;
    }
}

@media (min-width: 900px) {
    .sensor-card {
        width: 30%;
        max-width: 340px;
    }

    .log-file-card,
    .about-card,
    .settings-card {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .sensor-card {
        width: 25%;
        max-width: 360px;
    }

    .log-file-card,
    .about-card,
    .settings-card {
        width: 90%;
    }
}

