<!DOCTYPE html>
<html>

<head>
    <title> Add Sensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Add New Sensor</h1>
    <form method="post">
        Name: <input type="text" name="name" required>
        Address: <select name="address" required>
            <option value="64">0x40</option>
            <option value="65">0x41</option>
            <option value="66">0x42</option>
            <option value="67">0x43</option>
            </select>
        Type: <select name="type" required>
            <option value="solar">Solar</option>
            <option value="wind">Wind</option>
            <option value="battery">Battery</option>
        </select>
        Max Power: <input type="number" name="max_power" required><br>
        <button type="submit">Save Changes</button>
    </form>
</body>
